@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

body {
  font-family: 'Inder', sans-serif;
  overflow-x: hidden;
}


.link-cursor:hover{
  color: blue;
  transition: all 1.1;
  transform: rotate(0.5s);
}

.container{
    width: 100%;
    max-width: 1256px;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
}